export(clock_resource_path)
export(complex_resource_path)
export(reference_resource_path)
export(methylomni_data_manifest)
export(methylomni_resource_path)
export(omniage_resource_path)
export(validate_resource_manifest)
importFrom(tools,md5sum)
importFrom(utils,read.csv)
